*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    background-color: rgb(216, 216, 216);
    height: auto;
}

nav{
    width: 25%;
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
}

li a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    color: black;
    display: block;
}

li a.active{
    background-color: #04aa6d;
    color: #fff;
}

li a:hover:not(.active),.dropdown:hover .dropbtn{
    background-color: #555;
    color: #fff;
}

.wrapper{
    margin-left: 25%;
    padding: 20px 30px;
}

.title{
    padding: 20px 10px;
    text-align: center;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    position: absolute;
    background-color: #f9f9f9;
    display: none;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}







h1{
    color: brown;
}